.DS_Store
.idea
*.iml
.classpath
.project
.vagrant/
.settings
git.properties
target
*/target
lib/
/bin
logs
dump
moveto
*.log
gen-java/
gen-rb/
*.class
*/.gitignore
*.pyc
*.swp
*.iml
/ttt
*.jar
local
